
.container {
	max-width: 100%;
	color: #424242;
}

header {
	padding: 1em 0;
}

body {
	margin: 0;
}

footer {
	margin-top: 3em;
	background: #7e7e7e;
	color: white;
	font-size: 11px;
}

.image {
	position: relative;
	width: 100%;
}

.front_caption {
	position: absolute;
	top: 47%;
	left: 5%;
	width: 100%;
	font-size: 3.5em;
	font-family: 'PT Sans Caption', sans-serif;
	color: #424242;
}

.btn-primary {
	position: absolute;
	font-size: 1.5em;
	top: 80%;
	right: 7%;
	width: 20%;
}


.industry_info {
	font-size: 2em;

}

.phone_number {
	font-size: 2em;
}

.email_addr {
	font-size: 1.2em;
}

/*FROM GOOGLE API SENDMAIL*/

aside {
		background: #1f8dd6; /* same color as selected state on site menu */
		padding: 0.3em 1em;
		border-radius: 3px;
		color: #fff;
		margin-top: 2em;
}

button {
	float: right;
}
#name, #email {
	width: 100%;
}

.advantages_row {
	display: flex;
}


.adv_blocks {
	margin: 4%;
	border: 1px solid #EBE7E0;
	border-radius: 0.5em;
	justify-content: space-around;
}


/*FOR GLYPHONICONS*/

h3 .fa {
	font-size: 1.5em;
	color: #44749D;
	padding: 15px;
	border: 1px solid #C6D4E1;
	border-radius: 4px;
	margin-bottom: 0.5em;
}

.fa-quote-left,
.fa-quote-right {
	font-size: 1em;
	font-style: 1.3em;
	color: #424242;
	border:0;
}

.general_comments {
	font-size: 2em;
	padding-left: 2em;
}

.focus_text {
	font-size: 1.5em;
	color:#44749D;
	font-style: strong;
}

.white-text {
	color: white;
}

h4 {
	font-size: 1.8em;
	border-bottom: 1px solid;
}

footer p {
	font-size: 1.3em;
}


@media screen and (max-width: 786px) {
	body {
		font-size: 12px;
	}

	.front_caption {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	.phone_number,
	.general_comments {
		font-size: 1.5em;
	}

		.dostavka {
		display: none;
	}


@media screen and (max-width: 560px) {

	.front_caption {
		font-size: 1.7em;
	}

	.general_comments {
		font-size: 1.2em;
	}

	.email_addr {
		font-size: 1em;
	}

	.advantages_row {
		display: block;
	}

	.advtext {
		font-size: 1.1em;
	}

	footer p {
		font-size: 0.8em;
	}

	h4 {
		font-size: 1.5em;
	}

	.general_comments {
	padding: 0;
	}
}

